.btn {
  border-radius: 50px;
  padding: 1rem 2rem;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.53);
}
.btn-success {
  background-image: linear-gradient(255deg, #1ea27c, #209e3d);
}
.btn-pink {
  background-image: linear-gradient(255deg, #7b23c8, #880f6c);
}
.btn span {
  color: #ffffff;
}

.btn-pink {
  min-width: 200px;
  border-radius: 31px;
  background-image: linear-gradient(255deg, #7b23c8, #880f6c);
  color: #ffffff;
  cursor: pointer;
  border: none;
  position: relative;
  overflow: hidden;
}
.btn-pink:before {
  content: "";
  background-image: linear-gradient(255deg, #880f6c, #7b23c8);
  min-width: 0;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  transition: all 0.4s ease-in-out;
}
.btn-pink:hover:before {
  transition: all 0.4s ease-in-out;
  min-width: 100%;
}

.btn-green {
  min-width: 200px;
  border-radius: 31px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.53);
  background-image: linear-gradient(255deg, #1ea27c, #286b33);
  color: #ffffff;
  cursor: pointer;
  border: none;
  position: relative;
  overflow: hidden;
}
.btn-green:before {
  content: "";
  background-image: linear-gradient(255deg, #1ea27c, #286b33);
  min-width: 0;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  transition: all 0.4s ease-in-out;
}
.btn-green:hover:before {
  transition: all 0.4s ease-in-out;
  min-width: 100%;
}

.btn-text {
  position: relative;
}

.white {
  color: #ffffff;
}

@font-face {
  font-family: JosefinSansBold;
  src: url(../fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: Sarabun;
  src: url(../fonts/Sarabun-Regular.ttf);
}
p {
  font-size: 14.5px;
}

h1, h2 {
  font-family: JosefinSansBold;
}

h2 {
  font-size: 60px;
  color: #a623cc;
}

span, h3, h4, h5, h6 {
  font-family: Sarabun;
}

button, li {
  font-family: JosefinSans;
}

a {
  color: #880f6c;
}
a:hover {
  color: #7a1153;
  text-decoration: none;
}

/* define breackpoints */
/* not needed */
/* define mixin */
/* usage */
.slick-dots {
  text-align: center;
  padding-top: 15px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #880f6c;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #880f6c;
  background-color: #880f6c;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #000000;
  box-shadow: 0 0 0 2px #880f6c;
  opacity: 1;
}

.gallery .slick-dots li.slick-active button {
  border-color: #ffffff;
}

/*================================ MOBILE DEVICES ==================================*/
@media (max-width: 678px) {
  h2 {
    font-size: 33px;
  }

  h5 {
    font-size: 14px !important;
  }

  .section-padding {
    padding: 2rem !important;
  }

  .box-padding {
    padding: 2rem !important;
  }

  .slick-dots {
    bottom: -70px;
  }

  .header-sticky, .header-static {
    position: relative;
    background-color: #2a0041;
  }

  header .header-logo .img-fluid {
    width: 60%;
  }
  header .header-menu {
    width: 100%;
    position: relative;
    padding: 0;
    margin-top: 1rem;
    border-top: 1px solid #ffffff;
    padding-top: 1rem;
    background-color: transparent;
  }
  header .header-menu .nav-link {
    font-size: 1.5rem !important;
  }

  .hero {
    height: 500px !important;
  }

  .item-service {
    padding: 3rem 2rem !important;
    margin-bottom: 1rem;
  }

  .about-us-left-img {
    display: none;
  }
  .about-us-right-content {
    padding: 7em 3em;
  }

  .features {
    text-align: center;
  }

  .slick-arrow {
    width: 40px !important;
    height: 40px !important;
  }

  .testimonies button.slick-next, .testimonies button.slick-next:hover {
    right: 0;
  }
  .testimonies button.slick-prev, .testimonies button.slick-prev:hover {
    left: 0;
  }
  .testimonies .card-block {
    padding: 0.3rem;
  }
  .testimonies .card-block h4 {
    font-family: JosefinSans;
    color: #ffffff;
    padding-top: 1.5rem;
  }
  .testimonies .card-block span {
    color: #a623cc;
  }
  .testimonies .card-block p {
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.6);
  }

  .our-services {
    background-size: cover;
  }

  .contact {
    flex-direction: column-reverse;
  }
  .contact-left-img-container {
    padding: 1rem 0;
    margin: 2rem;
  }
  .contact-left-img-container a {
    font-size: 1rem;
  }

  .hero.hero-pages {
    height: 400px !important;
  }

  .video-iframe {
    height: 200px !important;
  }

  .contact-right-content .container {
    padding: 0 !important;
  }

  .hero-pages {
    height: 480px !important;
  }

  .advisory {
    margin-top: -14em;
  }
  .advisory .container .advisory-title h3 {
    font-size: 1.5rem;
  }

  #bg-contacto {
    height: 300px !important;
  }
  #bg-contacto .hero-subtitle {
    margin-bottom: 0;
  }

  .contact-page-left-img-container {
    padding: 1rem 0;
    margin: 0 !important;
  }
  .contact-page-left-img-container a {
    font-size: 19px !important;
  }
  .contact-page-right-content .container {
    padding: 0 !important;
  }
  .contact-page-right-content .container h2 {
    font-size: 35px !important;
  }
  .contact-page-right-content .container form a {
    border-radius: unset;
  }
  .contact-page-right-content .container form p {
    padding: 20px;
  }
  .contact-page-right-content .container form .form-check-input {
    height: 20px;
    width: 20px;
  }
  .contact-page-right-content .container form .form-check-label {
    padding-left: 10px;
  }

  footer {
    background: #000000;
  }
  footer .footer-container {
    padding: 20px;
    padding-bottom: 7rem;
  }
}
/*================================ TABLET DEVICES ==================================*/
/*================================ DESKTOP DEVICES ==================================*/
@media (min-width: 1025px) {
  .fixed-header {
    background-color: black;
    padding: 1rem 2rem;
  }

  #sobre-nosotros .slick-dots {
    bottom: -150px;
  }

  .about-us-right-content {
    padding: 10em 6em;
  }

  .testimonies button.slick-next, .testimonies button.slick-next:hover {
    right: 280px;
  }
  .testimonies button.slick-prev, .testimonies button.slick-prev:hover {
    left: 280px;
  }

  .contact-left-img-container {
    padding: 4rem;
    margin: 5rem;
    height: 80%;
  }
  .contact-left-img-container a {
    text-decoration: none;
    font-size: 25px;
    font-family: Sarabun;
  }

  /*PAGES*/
  footer {
    height: 85px;
    padding-top: 2em;
  }
}

/*# sourceMappingURL=responsive.css.map */
