.btn {
  border-radius: 50px;
  padding: 1rem 2rem;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.53);
}
.btn-success {
  background-image: linear-gradient(255deg, #1ea27c, #209e3d);
}
.btn-pink {
  background-image: linear-gradient(255deg, #7b23c8, #880f6c);
}
.btn span {
  color: #ffffff;
}

.btn-pink {
  min-width: 200px;
  border-radius: 31px;
  background-image: linear-gradient(255deg, #7b23c8, #880f6c);
  color: #ffffff;
  cursor: pointer;
  border: none;
  position: relative;
  overflow: hidden;
}
.btn-pink:before {
  content: "";
  background-image: linear-gradient(255deg, #880f6c, #7b23c8);
  min-width: 0;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  transition: all 0.4s ease-in-out;
}
.btn-pink:hover:before {
  transition: all 0.4s ease-in-out;
  min-width: 100%;
}

.btn-green {
  min-width: 200px;
  border-radius: 31px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.53);
  background-image: linear-gradient(255deg, #1ea27c, #286b33);
  color: #ffffff;
  cursor: pointer;
  border: none;
  position: relative;
  overflow: hidden;
}
.btn-green:before {
  content: "";
  background-image: linear-gradient(255deg, #1ea27c, #286b33);
  min-width: 0;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  transition: all 0.4s ease-in-out;
}
.btn-green:hover:before {
  transition: all 0.4s ease-in-out;
  min-width: 100%;
}

.btn-text {
  position: relative;
}

.white {
  color: #ffffff;
}

@font-face {
  font-family: JosefinSansBold;
  src: url(../fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: Sarabun;
  src: url(../fonts/Sarabun-Regular.ttf);
}
p {
  font-size: 14.5px;
}

h1, h2 {
  font-family: JosefinSansBold;
}

h2 {
  font-size: 60px;
  color: #a623cc;
}

span, h3, h4, h5, h6 {
  font-family: Sarabun;
}

button, li {
  font-family: JosefinSans;
}

a {
  color: #880f6c;
}
a:hover {
  color: #7a1153;
  text-decoration: none;
}

.slick-dots {
  text-align: center;
  padding-top: 15px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #880f6c;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #880f6c;
  background-color: #880f6c;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #000000;
  box-shadow: 0 0 0 2px #880f6c;
  opacity: 1;
}

.gallery .slick-dots li.slick-active button {
  border-color: #ffffff;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.section-padding {
  padding: 6rem 0;
}

.box-padding {
  padding: 6rem 4rem;
}

#myVideo {
  left: 0;
  top: 0;
  z-index: -100;
}

header {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 4;
  padding: 2rem;
  transition: all 0.3s;
}
header .header-logo {
  z-index: 5;
  transition: all 0.3s;
}
header .button-nav {
  z-index: 5;
  cursor: pointer;
  transform: translateX(20px);
}
header .button-nav .fa-ellipsis-v {
  color: #ffffff;
  font-size: 2rem;
}
header .header-menu {
  z-index: 4;
  color: #ffffff;
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: black;
  display: none;
  top: 0;
  right: 0;
  padding: 4rem;
  padding-top: 8rem;
}
header .header-menu .nav-link {
  transition: all 0.3s;
}
header .header-menu .header-menu-nav .nav-link {
  color: #ffffff;
  font-size: 2rem;
  position: relative;
  transition: all 0.3s;
}
header .header-menu .header-menu-nav .nav-link:hover, header .header-menu .header-menu-nav .nav-link.active {
  color: #7a1153;
}
header .header-menu .header-menu-nav .nav-link::before {
  position: absolute;
  content: "";
  width: 3px;
  background-color: #7a1153;
  top: 10%;
  left: 0;
  height: 0;
  transition: all 0.3s;
}
header .header-menu .header-menu-nav .nav-link:hover::before {
  height: 70%;
}
header .header-menu .menu-nav-social .nav-link {
  font-size: 2rem;
}
header .header-menu .menu-nav-social .nav-link:hover {
  color: #7b23c8;
}

.header-static {
  position: relative !important;
  background-color: #2a0041;
  padding: 1rem 2rem;
}

.hero {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 700px;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(34, 1, 45, 0.78);
}
.hero-subtitle {
  margin-bottom: 5rem;
}
.hero-subtitle h5 {
  font-size: 16px;
}

.about-us {
  padding: 0;
  display: flex;
}
.about-us-left-img {
  background-image: url(../img/consola-intro.png);
  padding: 0;
  background-size: cover;
}
.about-us-left-img img {
  width: 100%;
}
.about-us-right-content {
  background-color: #2a0041;
}
.about-us-right-content p {
  color: rgba(255, 255, 255, 0.6);
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.features h6 {
  font-family: JosefinSansBold;
  font-size: 23px;
  color: #7a1153;
}
.features p {
  color: #848484;
}
.features img {
  color: #7a1153;
  width: 60px;
}
.features-experiencia {
  max-width: 30rem;
}
.features-responsabilidad {
  max-width: 30rem;
}
.features-alegria {
  max-width: 30rem;
}

.our-services {
  background-image: url(../img/bg-intro.png);
  display: flex;
  flex-direction: row;
  text-align: center;
}
.our-services-subtitle {
  padding: 1rem;
}
.our-services-subtitle h5 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.item-service {
  padding: 6rem 2rem;
  background-color: rgba(0, 0, 0, 0.57);
}
.item-service i {
  font-size: 35px;
  color: #7a1153;
}
.item-service h3 {
  font-family: JosefinSansBold;
  font-size: 35px;
  color: #ffffff;
}
.item-service-interior {
  background-size: cover;
  background-repeat: no-repeat;
}

#interior-fotografia {
  background-image: url("../img/bg-photography.png");
}
#interior-sonido {
  background-image: url("../img/bg-sound.png");
}
#interior-iluminacion {
  background-image: url("../img/bg-ilumination.png");
}

/*SLIDER STYLE*/
.slick-arrow {
  width: 74px;
  height: 74px;
  background-color: rgba(0, 0, 0, 0.57);
  z-index: 3;
  background-image: url(/src/img/gallery1.png);
}
.slick-arrow:focus, .slick-arrow:hover {
  background: rgba(0, 0, 0, 0.57);
}

/*INSTAGRAM LIGHTWIDGET SLIDER*/
.sound-slider h3 {
  color: #848484;
}

.lightwidget-widget {
  margin-bottom: -6px;
  height: 280px;
}

.gallery {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
.gallery .center .slick-dots {
  bottom: -70px;
}
.gallery h2 {
  color: #2a0041;
}
.gallery figure {
  position: relative;
  margin: 0;
}
.gallery figure img {
  width: 800px;
}
.gallery figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  opacity: 0;
  background: -moz-linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#2a0041", endColorstr="#ab7a1153",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  transition: all 0.3s;
}
.gallery figure figcaption:hover {
  opacity: 1;
}
.gallery figure figcaption:hover .fa-search-plus {
  transform: translateY(0px);
}
.gallery figure figcaption .fa-search-plus {
  font-size: 2rem;
  color: #ffffff;
  transform: translateY(-30px);
  transition: all 0.3s;
}

.testimonies {
  background: #2a0041;
}
.testimonies .slick-dots {
  bottom: 0;
}
.testimonies .card {
  background: none;
  border: none;
  padding: 3rem 0;
}
.testimonies .card-img {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.testimonies .card-block h4 {
  font-family: JosefinSans;
  color: #ffffff;
  padding-top: 1.5rem;
}
.testimonies .card-block span {
  color: #a623cc;
}
.testimonies .card-block p {
  padding-top: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.slick-active.slick-current .card_img {
  position: relative;
}

/*CONTACT SECTION*/
.contact {
  padding: 0;
  display: flex;
}
.contact-left-img {
  background-image: url(../img/bg-left-contact.png);
  padding: 0;
  background-size: cover;
}
.contact-left-img-container {
  background-image: linear-gradient(139deg, #2a0041, rgba(122, 17, 83, 0.76));
}
.contact-left-img-container img {
  width: 50%;
}
.contact-left-img-container i {
  color: #ffffff;
}
.contact-left-img-container a {
  color: #ffffff;
  text-decoration: none;
  font-family: Sarabun;
  transition: opacity 0.3s ease-in-out;
}
.contact-left-img-container a:hover {
  opacity: 0.7;
}
.contact-left-img-container .text-left {
  margin: 1rem;
}
.contact-left-img-container .text-left i {
  padding: 12px;
}
.contact-left-img-content {
  background: -moz-linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#2a0041", endColorstr="#ab7a1153",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.contact-right-content .container h2 {
  color: #2a0041;
}
.contact-right-content .container p {
  color: #848484;
  padding: 20px;
}
.contact-right-content .container form input, .contact-right-content .container form textarea {
  height: 55px;
  border-radius: 41px;
  background-color: rgba(233, 233, 233, 0.66);
  color: #a623cc;
  padding-left: 25px;
}
.contact-right-content .container form textarea {
  height: 150px;
  padding-top: 15px;
}
.contact-right-content .container form .form-check-input {
  height: 20px;
  width: 20px;
}
.contact-right-content .container form .form-check-label {
  padding-left: 10px;
}

/*form input arrows styles*/
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inicia-spin::-webkit-inner-spin-button, .finaliza-spin::-webkit-inner-spin-button {
  margin-top: 0.8em;
}

/*global form style*/
.form-control {
  border: none;
  font-size: 14px;
}

footer {
  background: #000000;
  color: #ffffff;
}

.slick-prev:before {
  content: "";
  background-image: url(../img/left-arrow.png);
  background-position: 46% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.slick-next:before {
  content: "";
  background-image: url(../img/right-arrow.png);
  background-position: 56% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

button.slick-next, button.slick-next:hover {
  right: 15px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

button.slick-prev, button.slick-prev:hover {
  left: 15px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  z-index: 23;
}

/*SONIDO PAGE*/
.advisory {
  background: #2a0041;
}
.advisory .container {
  color: #ffffff;
}
.advisory .container .advisory-title h3 {
  font-size: 40px;
}
.advisory .container .advisory-subtitle {
  padding: 5px 0 20px 0;
}

.our-sound-services {
  background-image: #ffffff;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-bottom: 5em;
  padding-top: 5em;
}
.our-sound-services h2 {
  font-size: 40px;
  color: #2a0041;
}
.our-sound-services-subtitle {
  padding: 1rem;
}
.our-sound-services-subtitle h5 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.our-sound-services-options {
  justify-content: space-around;
}
.our-sound-services-options i {
  font-size: 35px;
  color: #7a1153;
}
.our-sound-services-options h3 {
  font-family: JosefinSansBold;
  font-size: 35px;
  color: #ffffff;
}
.our-sound-services-options-iluminacion {
  height: 316px;
  background: url(../img/bg-ilumination.png);
}
.our-sound-services-options-iluminacion-content {
  padding-top: 4em;
}
.our-sound-services-options-iluminacion-title {
  padding-top: 1.4rem;
}
.our-sound-services-options-iluminacion-button-pink {
  padding: 1rem;
}
.our-sound-services-options-fotografia {
  height: 316px;
  background: url(../img/bg-photography.png);
}
.our-sound-services-options-fotografia-content {
  padding-top: 4em;
}
.our-sound-services-options-fotografia-title {
  padding-top: 1.4rem;
}
.our-sound-services-options-fotografia-button-pink {
  padding: 1rem;
}

/*ILUMINACION PAGE*/
.add-services h2 {
  font-size: 40px;
  color: #2a0041;
}
.add-services-subtitle {
  padding: 1rem;
}
.add-services-subtitle h5 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

/*CONTACT PAGE*/
.contact-page-left-img-container {
  padding: 4rem;
  background-image: linear-gradient(139deg, #2a0041, rgba(122, 17, 83, 0.76));
  width: 100%;
  height: 100%;
}
.contact-page-left-img-container img {
  width: 50%;
}
.contact-page-left-img-container i {
  font-size: 25px;
  color: #ffffff;
}
.contact-page-left-img-container a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  font-family: Sarabun;
}
.contact-page-left-img-container .text-left {
  margin: 1rem;
}
.contact-page-left-img-container .text-left i {
  padding: 12px;
}
.contact-page-left-img-content {
  background: -moz-linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2a0041 0%, rgba(122, 17, 83, 0.67) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#2a0041", endColorstr="#ab7a1153",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.contact-page-right-content .container h2 {
  color: #2a0041;
}
.contact-page-right-content .container p {
  color: #848484;
}
.contact-page-right-content .container .colapse-div {
  background: #2a0041;
  position: relative;
}
.contact-page-right-content .container .colapse-div i {
  position: absolute;
  right: 1em;
  top: 0.9em;
  font-size: 20px;
}
.contact-page-right-content .container form input, .contact-page-right-content .container form textarea, .contact-page-right-content .container form select {
  height: 55px;
  border-radius: 41px;
  background-color: rgba(233, 233, 233, 0.66);
  color: #a623cc;
  padding-left: 25px;
}
.contact-page-right-content .container form select {
  height: 55px !important;
}
.contact-page-right-content .container form textarea {
  height: 150px;
  padding-top: 15px;
}
.contact-page-right-content .container form a {
  border-radius: unset;
}
.contact-page-right-content .container form p {
  padding: 20px 20px 0 20px;
}
.contact-page-right-content .container form .form-check-input {
  height: 20px;
  width: 20px;
}
.contact-page-right-content .container form .form-check-label {
  padding-left: 10px;
}
.contact-page-right-content .container form .card {
  border: none;
}
.contact-page-right-content .container form .collapse a {
  color: #2a0041;
  position: relative;
}
.contact-page-right-content .container form .collapse a i {
  position: absolute;
  left: 0;
}

.cd-top {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 100px;
  right: 25px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  z-index: 5;
}
.cd-top i {
  position: absolute;
  top: 12px;
  left: 1px;
  font-size: 25px;
  color: #ffffff;
}

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}

/*VIDEO PAGES*/
.section-video {
  z-index: 1000;
  transform: translateY(-130px);
}
.section-video .video-iframe {
  width: 90%;
  height: 500px;
}

.hero-pages {
  height: 565px;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#bg-sonido {
  background-image: url(../img/sonido.jpg);
}

#bg-iluminacion {
  background-image: url(../img/iluminacion.jpg);
}

#bg-fotografia {
  background-image: url(../img/fotografia.jpg);
}

#bg-contacto {
  background-image: url(../img/contacto.png);
  height: 500px !important;
}

#contact-page {
  background-image: url(../img/bg-left-contact.png);
}

.service-features {
  padding-top: 0;
}
.service-features h2 {
  color: #2a0041;
}

/*# sourceMappingURL=style.css.map */
