.btn-pink {
  width: 200px;
  height: 50px;
  border-radius: 31px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.53);
  background-image: linear-gradient(255deg, #7b23c8, #880f6c);
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.btn-pink:hover {
  color: #000000;
}

.btn-green {
  width: 200px;
  height: 50px;
  border-radius: 31px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.53);
  background-image: linear-gradient(255deg, #1ea27c, #209e3d);
  color: #ffffff;
  cursor: pointer;
  border: none;
}
.btn-green:hover {
  color: #000000;
}

@font-face {
  font-family: JosefinSansBold;
  src: url(../fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: Sarabun;
  src: url(../fonts/Sarabun-Regular.ttf);
}
p {
  font-size: 14.5px;
}

h1, h2 {
  font-family: JosefinSansBold;
}

h3, h4, h5 {
  font-family: Sarabun;
}

button {
  font-family: JosefinSans;
}

.slick-dots {
  text-align: center;
  padding-top: 15px;
  bottom: -150px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #880f6c;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #880f6c;
  background-color: #880f6c;
  transition: all 0.3s ease;
  opacity: 0.4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #000000;
  box-shadow: 0 0 0 2px #880f6c;
  opacity: 1;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 15rem;
}

.hero {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 720px;
}
.hero .container {
  position: absolute;
}
.hero-logo {
  cursor: pointer;
  position: absolute;
  left: 40px;
  top: 40px;
}
.hero-menu {
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 40px;
  top: 40px;
}
.hero-title h2 {
  font-size: 60px;
}
.hero-subtitle {
  padding: 3rem 0;
}
.hero-subtitle h5 {
  font-size: 16px;
}

.about-us {
  padding: 0;
  display: flex;
}
.about-us-left-img {
  padding: 0;
}
.about-us-left-img img {
  width: 100%;
}
.about-us-right-content {
  background-color: #2a0041;
}
.about-us-right-content .container {
  padding: 15rem 5rem;
}
.about-us-right-content h2 {
  font-size: 60px;
  color: #a623cc;
}
.about-us-right-content p {
  color: rgba(255, 255, 255, 0.6);
}

.features {
  padding: 6rem 8rem;
}
.features h6 {
  font-family: JosefinSansBold;
  font-size: 23px;
  color: #7a1153;
}
.features p {
  color: #848484;
}
.features img {
  color: #7a1153;
  width: 60px;
}

.our-services {
  background-image: url(../img/bg-intro.png);
  display: flex;
  flex-direction: row;
  text-align: center;
}
.our-services .container {
  padding: 2rem;
}
.our-services-title h2 {
  font-size: 60px;
  color: #a623cc;
}
.our-services-subtitle {
  padding: 1rem;
}
.our-services-subtitle h5 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.our-services-options i {
  font-size: 35px;
  color: #7a1153;
}
.our-services-options h3 {
  font-family: JosefinSansBold;
  font-size: 35px;
  color: #ffffff;
}
.our-services-options-sonido {
  height: 416px;
  background: rgba(0, 0, 0, 0.58);
  margin: 0.2em;
}
.our-services-options-sonido-content {
  padding-top: 8em;
}
.our-services-options-sonido-title {
  padding-top: 1.4rem;
}
.our-services-options-sonido-button-pink {
  padding: 1rem;
}
.our-services-options-iluminacion {
  height: 416px;
  background: rgba(0, 0, 0, 0.58);
  margin: 0.2em;
}
.our-services-options-iluminacion-content {
  padding-top: 8em;
}
.our-services-options-iluminacion-title {
  padding-top: 1.4rem;
}
.our-services-options-iluminacion-button-pink {
  padding: 1rem;
}
.our-services-options-fotografia {
  height: 416px;
  background: rgba(0, 0, 0, 0.58);
  margin: 0.2em;
}
.our-services-options-fotografia-content {
  padding-top: 8em;
}
.our-services-options-fotografia-title {
  padding-top: 1.4rem;
}
.our-services-options-fotografia-button-pink {
  padding: 1rem;
}

.gallery {
  padding: 6rem 8rem;
}
.gallery-first-row img {
  width: 100%;
}
.gallery-second-row img {
  width: 100%;
}

#myVideo {
  left: 0;
  top: 0;
  width: 100%;
  z-index: -100;
}

/*# sourceMappingURL=style.css.map */
