/* define breackpoints */
$phone-min: 320px;
$phone-max: 678px;
$tablet: 920px;/* not needed */
$desktop: 1024px;

/* define mixin */
@mixin breakpoint($media) {
  @if $media == mobile {
    @media (max-width: $phone-max) { @content; }
  }
   @else if $media == tablet {
    @media (min-width: $phone-max + 1) and (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop + 1) { @content; }
  }
}

/* usage */
@include breakpoint(mobile) {
  h2 {
    font-size: 33px;
  }
  h5 {
    font-size: 14px !important;
  }
  #myVideo {
    width: auto;
  }
  header {

    .header-logo {

        img {

        }
    }
    .header-menu {

        &-nav {
            padding-left: 5em;
            padding-top: 3em;
            &-container {

                li {
                  font-size: 22px !important;
                    &:hover{

                        &:before {

                        }
                    }

                }
                &-social {
                  bottom: -4rem !important;
                    i{

                        &:hover {

                        }
                    }
                }
            }
        }
    }
}
  .slick-dots {
    bottom: -70px;
  }
  .about-us {
    &-left-img {
        display: none;
        img {
        }
    }
    &-right-content {
        padding: 7em 3em;
        p {
        }
    }
  }
  .features {
    padding: 6rem 2rem 2rem 2rem;;
    margin: 0;
    text-align: center;
    h6 {
    }
    p {
    }
    img{
    }
    &-experiencia, &-responsabilidad  {
      margin-bottom: 2em;
    }
    &-responsabilidad {
    }
    &-alegria {
    }
  }

  .our-services {
    padding: 5em 0 5em 0;
    background-size: cover;
    &-title {
      h2 {

      }
    }
    &-subtitle {
        h5 {
        }
    }
    &-options {
      flex-direction: column;
      i {

      }
      h3 {
        font-size: 30px !important;
      }

      &-sonido, &-iluminacion, &-fotografia {
        margin: 2em 0 2em 0;
          &-content {
          }
          &-title {
          }
          &-button-pink{
          }
      }
      &-iluminacion {

          &-content {
          }
          &-title {
          }
          &-button-pink{
          }
      }
      &-fotografia {

          &-content {
          }
          &-title {
          }
          &-button-pink{
          }
      }
    }
  }
  .testimonies {
    button.slick-next, button.slick-next:hover {
      right: 0;
    }
    button.slick-prev, button.slick-prev:hover {
      left: 0;
    }
    .slick-dots {
    }
    .card {
        margin: 40px 15px;
        padding: 0;
        &-img {
            display: inline-block;
            width: 200px;
            height: 200px;
        }
        &-block {
            h4 {
                font-family: JosefinSans;
                color: $white;
                padding-top: 1.5rem;
            }
            span {
                color: $main-pink;
            }
            p {
                padding-top: 1rem;
                color: $transparent-gray;
            }
      }
    }

  }
  .contact {
    flex-direction: column-reverse;
    &-left-img {
        &-container{
            padding: 0;
            margin: 2rem;
            height: 40%;
            img {
            }
            i {
            }
            a {
                font-size: 15px;
            }
            .text-center {
              padding-top: 2em;
              padding-bottom: 1em;
            }
            .text-left {
                margin: 1rem;
                i {
                    padding: 12px;
                }
            }
        }

        &-content {
            background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            
        }
    }
    &-right-content {
        .container{
            padding: 6rem 0 3rem 0;
            h2 {
                color: $dark-purple;
                font-size: 33px;
            }
            p {
                padding: 20px;
            }
            form {
                input, textarea {
                }
                textarea {
                }
                .form-check-input {
                }
                .form-check-label {
                }
            }
        }

    }
  }
  /*PAGES*/
  .hero-pages {
    height: 480px !important;
  }
  .embed-container {
    bottom: 3em;
  }
  .sound-features {
    img {
      max-width: 100%;
      height: auto;

    }
    .container {
    }
    &-montaje {
      margin-top: -3rem;
      flex-direction: column-reverse;
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 2em;
            h2 {
                color: $dark-purple;
            }
            p {
                color: $gray;
            }
        }
    }
    &-dj {
        display: flex;
        margin-top: 5rem;
        flex-direction: column;
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 2em;
        }
        h2 {
            color: $dark-purple;
        }
        p {
            color: $gray;
        }
    }
  }
  .sound-slider {
    margin-top: 9em;
  }
  .sound-slider-photography {
    margin-bottom: 14em;  
  }

  .advisory {
    margin-top: -14em;
}
.our-sound-services {

  h2 {
  }
  &-subtitle {
      h5 {

      }
  }
  &-options {
    flex-direction: column;
      i {

      }
      h3 {
        font-size: 28px !important;
      }
      &-iluminacion {
          height: 316px;
          background: url(../img/bg-ilumination.png);
          max-width: 100%;
          margin-bottom: 3em;

          &-content {
              padding-top: 4em;
          }
          &-title {
              padding-top: 1.4rem;
          }
          &-button-pink{
              padding: 1rem;;
          }
      }
      &-fotografia {
          height: 316px;
          background: url(../img/bg-photography.png);
          max-width: 100%;
          &-content {
              padding-top: 4em;
          }
          &-title {
              padding-top: 1.4rem;
          }
          &-button-pink{
              padding: 1rem;;
          }
      }
  }
}
.contact {
    padding: 0;
    display: flex;
    &-left-img {
        background-image: url(../img/bg-left-contact.png);
        padding: 0;
        background-size: cover;
        &-container{
            //padding: 4rem;
            background-image: linear-gradient(139deg, #2a0041, rgba(122, 17, 83, 0.76));
            //margin: 5rem;
            //height: 80%;
            img {
                width: 50%;
            }
            i {
                //font-size: 25px;
                color: $white;
            }
            a {
                color: $white;
                text-decoration: none;
                font-family: Sarabun;
            }
            .text-center {
            }
            .text-left {
                margin: 1rem;
                i {
                    padding: 12px;
                }
            }
        }

        &-content {
            background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            
        }
    }
    &-right-content {
        .container{
            h2 {
                color: $dark-purple;
            }
            p {
                color: $gray;
                padding: 20px;
            }
            form {
                input, textarea {
                    height: 55px;
                    border-radius: 41px;
                    background-color: rgba(233, 233, 233, 0.66);
                    color: $main-pink;
                    padding-left: 25px
                }
                textarea {
                    height: 150px;
                    padding-top: 15px
                }
                .form-check-input {
                    height: 20px;
                    width: 20px;
                }
                .form-check-label {
                    padding-left: 10px;
                }
            }
        }

    }
}
/*CONTACT PAGE*/
.contact-page {
  flex-direction: column-reverse;
  &-left-img {
      background-image: url(../img/bg-left-contact.png);
      padding: 0;
      background-size: cover;
      &-container{
          padding: 0 !important;
          background-image: linear-gradient(139deg, #2a0041, rgba(122, 17, 83, 0.76));
          margin: 0 !important;
          height: 80%;
          img {
              width: 50%;
          }
          i {
              font-size: 25px;
              color: $white;
          }
          a {
              color: $white;
              text-decoration: none;
              font-size: 19px !important;
              font-family: Sarabun;
          }
          .text-center {
              padding-top: 3em;
          }
          .text-left {
              margin: 1rem;
              i {
                  padding: 12px;
              }
          }
      }

      &-content {
          background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          
      }
  }
  &-right-content {
    margin-top: 5em;
      .container{
          padding:0 !important;
          h2 {
              font-size: 35px !important;
          }
          p {
          }
          .colapse-div {
              i {
              }
          }
          form {
              input, textarea, select {
              }
              select {
              }
              textarea {
              }
              a {
                  border-radius: unset;
              }
              p {
                  padding: 20px;
              }
              .form-check-input {
                  height: 20px;
                  width: 20px;
              }
              .form-check-label {
                  padding-left: 10px;
              }
              .card {
                  border: none;
              }
              .collapse {
                  a {
                      color: $dark-purple;
                      position: relative;
                      i {
                          position: absolute;
                          left: 0;
                      }
                  }
              }
              
          }
      }

  }
}
  footer {
    background: $black;
    .footer-container {
        padding: 20px;
    }
}
}
@include breakpoint(tablet) {
  .hola {
    background-color: red;
  }
}
@include breakpoint(desktop) {
  #myVideo {
    width: 100%;
  }
  .slick-dots {
    bottom: -150px;
  }
  header {

    .header-logo {

        img {

        }
    }
    .header-menu {

        &-nav {
            &-container {
              padding: 8rem 4rem;
                li {
                  font-size: 22px !important;
                    &:hover{

                        &:before {

                        }
                    }

                }
                &-social {
                  bottom: -4rem !important;
                    i{

                        &:hover {

                        }
                    }
                }
            }
        }
    }
}
  .about-us {
    &-left-img {
        img {
        }
    }
    &-right-content {
        padding: 10em 6em;
        p {
        }
    }
  }
  .features {
    padding: 6rem 11rem;
    h6 {
    }
    p {
    }
    img{
    }
    &-experiencia {
    }
    &-responsabilidad {
    }
    &-alegria {
    }
  }
  .our-services {
    padding: 5em;
    &-title {
      h2 {

      }
    }
    &-subtitle {
        h5 {
        }
    }
    &-options {
      flex-direction: row;
      i {

      }
      h3 {

      }

      &-sonido, &-iluminacion, &-fotografia {
        margin: 0.2em;
          &-content {
          }
          &-title {
          }
          &-button-pink{
          }
      }
      &-iluminacion {

          &-content {
          }
          &-title {
          }
          &-button-pink{
          }
      }
      &-fotografia {

          &-content {
          }
          &-title {
          }
          &-button-pink{
          }
      }
    }
  }
  .testimonies {
    button.slick-next, button.slick-next:hover {
        right: 280px;
    }
    button.slick-prev, button.slick-prev:hover {
        left: 280px;
    }
    .slick-dots {
    }
    .card {
        margin: 0 15px;
        padding: 6rem;
        &-img {
            display: inline-block;
            width: 200px;
            height: 200px;
        }
        &-block {
            h4 {
                font-family: JosefinSans;
                color: $white;
                padding-top: 1.5rem;
            }
            span {
                color: $main-pink;
            }
            p {
                padding-top: 1rem;
                color: $transparent-gray;
            }
        }
    }

    }
    .contact {
      &-left-img {
          &-container{
              padding: 4rem;
              margin: 5rem;
              height: 80%;
              img {
              }
              i {
                  font-size: 25px;
              }
              a {
                  text-decoration: none;
                  font-size: 25px;
                  font-family: Sarabun;
              }
              .text-center {
                  margin-bottom: 5rem;
              }
              .text-left {
                  margin: 1rem;
                  i {
                      padding: 12px;
                  }
              }
          }
  
          &-content {
              background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
              
          }
      }
      &-right-content {
          .container{
              padding: 6rem 4rem;
              h2 {
                  color: $dark-purple;
                  font-size: 65px;
              }
              p {
                  color: $gray;
                  padding: 20px;
              }
              form {
                  input, textarea {
                      height: 55px;
                      border-radius: 41px;
                      background-color: rgba(233, 233, 233, 0.66);
                      color: $main-pink;
                      padding-left: 25px
                  }
                  textarea {
                      height: 150px;
                      padding-top: 15px
                  }
                  .form-check-input {
                      height: 20px;
                      width: 20px;
                  }
                  .form-check-label {
                      padding-left: 10px;
                  }
              }
          }
  
      }
  }
  /*PAGES*/
  .hero-pages {
    height: 565px !important;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(34, 1, 45, 0.78) !important;
      
    }
  }
  #bg-sonido {
    background-image: url(../img/sonido.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  #bg-iluminacion {
    background-image: url(../img/iluminacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  #bg-fotografia {
    background-image: url(../img/fotografia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  #bg-contacto {
    background-image: url(../img/contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
  }
  .embed-container {
    bottom: 10em;
  }
  .sound-features {
    img {
    }
    .container {
    }
    &-montaje {
        margin-top: -20rem;
        &-left {
            display: flex;  
            flex-direction: column;
            margin-right: 5em;
            h2 {
                color: $dark-purple;
            }
            p {
                color: $gray;
            }
        }
    }
    &-dj {
        display: flex;
        margin-top: 5rem;
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5em;
        }
        h2 {
            color: $dark-purple;
        }
        p {
            color: $gray;
        }
    }
  }
  footer {
    height: 85px;
    padding-top: 2em;
}
}