.slick-dots {
    text-align: center;
    padding-top: 15px;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 8px;
      button {
        width: 16px;
        height: 16px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid $link-pink;
        box-shadow: 0 0 0 0 transparent;
        vertical-align: middle;
        color: $link-pink;
        background-color: $link-pink;
        transition:all .3s ease;
        opacity: .4;
        &:focus {
          outline: none;
        }
        &:hover {
          opacity: 1;
        }
      }
      &.slick-active {
        button {
          border-color: $black;
          box-shadow: 0 0 0 2px $link-pink;
          opacity: 1;
        }
      }
    }
  }
.gallery .slick-dots li.slick-active button {
  border-color: $white;
}