@font-face {
    font-family: JosefinSansBold;
    src: url(../fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: JosefinSans;
    src: url(../fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: Sarabun;
    src: url(../fonts/Sarabun-Regular.ttf);
}
p {
    font-size: 14.5px;
}
h1, h2 {
    font-family: JosefinSansBold;
}
h2 {
    font-size: 60px;
    color: $main-pink;
}
h3, h4, h5 {
    font-family: Sarabun;
}
button,li {
    font-family: JosefinSans;
}