@import "_variables.scss";
@import "_typography.scss";
@import "_slick-slider.scss";
@import 'mixins';

html{
    overflow-x: hidden;

}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.section-padding{
    padding: 6rem 0;
}

.box-padding{
    padding: 6rem 4rem;
}
#myVideo {
    left: 0; 
    top: 0;
    z-index: -100;
}
header {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 4;
    padding: 2rem;
    transition: all .3s;
    .header-logo {
        z-index: 5;
        transition: all .3s;
    }

    .button-nav{
        z-index: 5;
        cursor: pointer;
        transform: translateX(20px);
        .fa-ellipsis-v{
            color: $white;
            font-size:2rem;
        }
        
    }
    
    .header-menu {
        z-index: 4;
        color: $white;
        position: fixed;
        width: 30%;
        height: 100%;
        background-color: black;
        display: none;
        top: 0;
        right: 0;
        padding: 4rem;
        padding-top: 8rem;
      
        

        .nav-link{
            transition: all .3s;
        }

        .header-menu-nav{
            .nav-link{
                color: $white;
                font-size: 2rem;
                position: relative;
                transition: all .3s;
                &:hover, &.active{
                    color: $dark-pink;
                }
    
                &::before{
                    position: absolute;
                    content: '';
                    width: 3px;
                    background-color: $dark-pink;
                    top: 10%;
                    left: 0;
                    height: 0;
                    transition: all .3s;
                    
                }
    
                &:hover::before{
                    height: 70%;
                }
            }
        }


        .menu-nav-social .nav-link{
            font-size: 2rem;
            &:hover{
                color: $light-purple;
            }
        }
    }
}

.header-static{
    position: relative !important;
    background-color: #2a0041;
    padding: 1rem 2rem;
}




.hero {
    color: $white;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 700px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    
    

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(34, 1, 45, 0.78)
    }

    &-subtitle {
        margin-bottom: 5rem;
        h5 {
            font-size: 16px;
        }
    }
}
.about-us {
    padding: 0;
    display: flex;
    &-left-img {
        background-image: url(../img/consola-intro.png);
        padding: 0;
        background-size: cover;
        img {
            width: 100%;
        }
    }
    &-right-content {
        background-color: $dark-purple;
        p {
            color: $transparent-gray;
        }
    }
}
.features {
    h6 {
        font-family: JosefinSansBold;
        font-size: 23px;
        color: $dark-pink;
    }
    p {
        color: $gray;
    }
    img{
        color: $dark-pink;
        width: 60px;
    }
}

.our-services {
    background-image: url(../img/bg-intro.png);
    display: flex;
    flex-direction: row;
    text-align: center;
    &-subtitle {
        padding: 1rem;
        h5 {
            font-size: 16px;
            color: $transparent-gray;
        }
    }
   
}

.container-item-service{
    height: 400px;
    overflow: hidden;

    .img-fluid{
        width: 100%;
        height: 100%;
        object-fit: cover;

     }
}

.item-service {
    padding: 6rem 2rem;
    background-color: rgba(0, 0, 0, 0.57);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    i {
        font-size: 35px;
        color: $dark-pink;
    }
    h3 {
        font-family: JosefinSansBold;
        font-size: 35px;
        color: $white;
    }

    
}


/*SLIDER STYLE*/
.slick-arrow {
    width: 74px;
    height: 74px;
    background-color: rgba(0, 0, 0, 0.57);
    z-index: 3;
    background-image: url(/src/img/gallery1.png);
    &:focus, &:hover {
        background: rgba(0, 0, 0, 0.57);
    }
}
/*INSTAGRAM LIGHTWIDGET SLIDER*/
.sound-slider {
    h3 {
        color: $gray;
    }
}
.lightwidget-widget {
    margin-bottom: -6px;
    height: 280px;
}

.gallery{
    padding-top: 5rem;
    padding-bottom: 7rem;
    .center {
        .slick-dots {
            bottom: -70px;
        }
    }
    h2 {
        color: $dark-purple;
    }

    figure{
        position: relative;
        margin: 0;
        img {
            width: 800px;
        }
        figcaption{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $white;
            opacity: 0;
            background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition: all .3s;
            &:hover {
                opacity: 1;
                .fa-search-plus{
                    transform: translateY(0px);
                }
            }
            .fa-search-plus{
                font-size: 2rem;
                color: $white;
                transform: translateY(-30px);
                transition: all .3s;
            }
        }
    }
}

.testimonies {
    background: $dark-purple;
    
    button.slick-next, button.slick-next:hover {
    }
    button.slick-prev, button.slick-prev:hover {
    }
    .slick-dots {
       bottom: 0;
    }
    .card {
        background: none;
        border: none;
        padding: 3rem 0;
        &-img {
            display: inline-block;
            width: 200px;
            height: 200px;
        }
        &-block {
            h4 {
                font-family: JosefinSans;
                color: $white;
                padding-top: 1.5rem;
            }
            span {
                color: $main-pink;
            }
            p {
                padding-top: 1rem;
                color: $transparent-gray;
            }
        }
    }

    }
    .slick-active.slick-current {
        .card {
            
        }
        .card_img {
            position: relative
        }
    }
/*CONTACT SECTION*/
.contact {
    padding: 0;
    &-left-img {
        background-image: url(../img/bg-left-contact.png);
        padding: 0;
        background-size: cover;
        &-container{
            //padding: 4rem;
            background-image: linear-gradient(139deg, #2a0041, rgba(122, 17, 83, 0.76));
            //margin: 5rem;
            //height: 80%;
            img {
                width: 50%;
            }
            i {
                //font-size: 25px;
                color: $white;
            }
            a {
                color: $white;
                text-decoration: none;
                font-family: Sarabun;
                transition: opacity .3s ease-in-out;
                &:hover {
                    opacity: 0.7;
                }
            }
            .text-center {
            }
            .text-left {
                margin: 1rem;
                i {
                    padding: 12px;
                }
            }
        }

        &-content {
            background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            
        }
    }
    &-right-content {
        .container{
            h2 {
                color: $dark-purple;
            }
            p {
                color: $gray;
                padding: 20px;
            }
            form {
                input, textarea {
                    height: 55px;
                    border-radius: 41px;
                    background-color: rgba(233, 233, 233, 0.66);
                    color: $main-pink;
                    padding-left: 25px
                }
                textarea {
                    height: 150px;
                    padding-top: 15px
                }
                .form-check-input {
                    height: 20px;
                    width: 20px;
                }
                .form-check-label {
                    padding-left: 10px;
                }
            }
        }

    }
}
/*form input arrows styles*/
.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.inicia-spin::-webkit-inner-spin-button, .finaliza-spin::-webkit-inner-spin-button {
    margin-top: .8em;
}
  
/*global form style*/
.form-control {
    border: none;
    font-size: 14px;
}
footer {
    background: $black;
    color: $white;
}
.slick-prev:before {
    content: '';
    background-image: url(../img/left-arrow.png);
    background-position: 46% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.slick-next:before {
    content: '';
    background-image: url(../img/right-arrow.png);
    background-position: 56% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
button.slick-next, button.slick-next:hover {
    right: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  button.slick-prev, button.slick-prev:hover {
    left: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: $white;
    font-weight: bold;
    z-index: 23;
  }

/*SONIDO PAGE*/


.advisory {
    background: $dark-purple;
    .container{
        color: $white;
        .advisory-title {
            h3 {
                font-size: 40px;
            }
        }
        .advisory-subtitle {
            padding:5px 0 20px 0; 
        }
    }
}
.our-sound-services {
    background-image: $white;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 5em;
    padding-top: 5em;
    h2 {
        font-size: 40px;
        color: $dark-purple;
    }
    &-subtitle {
        padding: 1rem;
        h5 {
            font-size: 16px;
            color: $transparent-gray;
        }
    }
    &-options {
        justify-content: space-around;
        i {
            font-size: 35px;
            color: $dark-pink;
        }
        h3 {
            font-family: JosefinSansBold;
            font-size: 35px;
            color: $white;
        }
        &-iluminacion {
            height: 316px;
            background: url(../img/bg-ilumination.png);

            &-content {
                padding-top: 4em;
            }
            &-title {
                padding-top: 1.4rem;
            }
            &-button-pink{
                padding: 1rem;;
            }
        }
        &-fotografia {
            height: 316px;
            background: url(../img/bg-photography.png);
            &-content {
                padding-top: 4em;
            }
            &-title {
                padding-top: 1.4rem;
            }
            &-button-pink{
                padding: 1rem;;
            }
        }
    }
}

/*ILUMINACION PAGE*/

.add-services {
    
    h2 {
        font-size: 40px;
        color: $dark-purple;
    }
    &-subtitle {
        padding: 1rem;
        h5 {
            font-size: 16px;
            color: $transparent-gray;
        }
    }

}

/*CONTACT PAGE*/
.contact-page {
    
    &-left-img {
        
        
        &-container{
            padding: 4rem;
            background-image: linear-gradient(139deg, #2a0041, rgba(122, 17, 83, 0.76));
            width: 100%;
            height: 100%;
            img {
                width: 50%;
            }
            i {
                font-size: 25px;
                color: $white;
            }
            a {
                color: $white;
                text-decoration: none;
                font-size: 25px;
                font-family: Sarabun;
                transition: all .3s;

                &:hover{
                    opacity: .6;
                }
            }
    
            .text-left {
                margin: 1rem;
                i {
                    padding: 12px;
                }
            }
        }

        &-content {
            background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            
        }
    }
    &-right-content {
        .container{
            
            h2 {
                color: $dark-purple;
            }
            p {
                color: $gray;
            }
            .colapse-div {
                background: $dark-purple;
                position: relative; 
                i {
                    position: absolute;
                    right: 1em;
                    top: .9em;
                    font-size: 20px;
                }
            }
            form {
                input, textarea, select {
                    height: 55px;
                    border-radius: 41px;
                    background-color: rgba(233, 233, 233, 0.66);
                    color: $main-pink;
                    padding-left: 25px
                }
                select {
                    height: 55px !important;
                }
                textarea {
                    height: 150px;
                    padding-top: 15px
                }
                a {
                    border-radius: unset;
                }
                p {
                    padding: 20px 20px 0 20px;
                }
                .form-check-input {
                    height: 20px;
                    width: 20px;
                }
                .form-check-label {
                    padding-left: 10px;
                }
                .card {
                    border: none;
                }
                .collapse {
                    a {
                        color: $dark-purple;
                        position: relative;
                        i {
                            position: absolute;
                            left: 0;
                        }
                    }
                }
                
            }
        }

    }
}

.cd-top {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 100px;
    right: 25px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50%;
    z-index: 5;
    i {
        position: absolute;
        top: 12px;
        left: 1px;
        font-size: 25px;
        color: $white;
    }
  }
  .cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
  }
  /*VIDEO PAGES*/
  
  .section-video{
      z-index: 1000;
      transform: translateY(-130px);
      .video-iframe{
          width: 90%;
          height: 500px;
      }
  }

  .hero-pages{
      height: 565px;
      z-index: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
  }

  #bg-sonido {
    background-image: url(../img/sonido.jpg);
  }
  #bg-iluminacion {
    background-image: url(../img/iluminacion.jpg);
  }
  #bg-fotografia {
    background-image: url(../img/fotografia.jpg);
  }
  #bg-contacto {
    background-image: url(../img/contacto.png);
    height: 500px !important;
  }

  #contact-page{
    background-image: url(../img/bg-left-contact.png);
  }

  .service-features{
    padding-top: 0;

    h2{
        color: $dark-purple;
    }

    p {
        color: $gray;
    }
  }

//RESPONSIVE
@import 'responsive';