@import "_variables.scss";
@import "_typography.scss";
@import "_slick-slider.scss";


body {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 15rem;
}
#myVideo {
    left: 0; 
    top: 0;
    width: 100%; 
    //height: auto;
    z-index: -100;
}
header {
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 214;
    .header-logo {
        cursor: pointer;
        position: absolute;
        left: 40px;
        top: 40px;
        z-index: 20;
        position: fixed;
        img {
            width:  80px;
        }
    }
    .header-menu {
        cursor: pointer;
        font-size: 2em;
        position: absolute;
        right: 40px;
        top: 40px;
        z-index: 20;
        color: $white;
        position: fixed;
        &-nav {
            width: 485px;
            background-color: rgba(0,0,0,1);
            position: absolute;
            right: -3rem;
            top: -3rem;
            z-index: -2;
            height: 1000px;    
            display: none;    
            &-container {
                padding: 8rem 5rem;
                list-style: none;
                font-size: 30px;
                position: relative;
                &-hover {
//                    background: green;
//                    height: 35px;
//                    width: 5px;
//                    position: absolute;
//                    left: 3rem;
                }
                li {
                    font-size: 25px;
                    padding-top: 15px;
                    &:hover{
                        color: $dark-pink;
                    }
                }
                &-social {
                    position: absolute;
                    bottom: 1rem;
                    font-size: 35px;
                    i{
                        padding-right: 2rem;
                        color: $dark-purple;
                        &:hover {
                            color: $light-purple;
                        }
                    }
                }
            }
        }
    }
}
.hero {
    color: $white;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 800px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    &-div-diagonal {
        position: absolute;
        width: 150%;
        left: 0;
        bottom: 0;
        height: 800px;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
    }
    .container {
        position: absolute;
    }
    &-subtitle {
        padding: 3rem 0;
        h5 {
            font-size: 16px;
        }
    }
}
.about-us {
    padding: 0;
    display: flex;
    &-left-img {
        padding: 0;
        img {
            width: 100%;
        }
    }
    &-right-content {
        background-color: $dark-purple;
        .container{
            padding: 15rem 5rem;
        }
        p {
            color: $transparent-gray;
        }
    }
}
.features {
    padding: 6rem 8rem;
    h6 {
        font-family: JosefinSansBold;
        font-size: 23px;
        color: $dark-pink;
    }
    p {
        color: $gray;
    }
    img{
        color: $dark-pink;
        width: 60px;
    }
}

.our-services {
    background-image: url(../img/bg-intro.png);
    display: flex;
    flex-direction: row;
    text-align: center;
    .container {
        padding: 2rem;
    }
    &-subtitle {
        padding: 1rem;
        h5 {
            font-size: 16px;
            color: $transparent-gray;
        }
    }
    &-options {
        i {
            font-size: 35px;
            color: $dark-pink;
        }
        h3 {
            font-family: JosefinSansBold;
            font-size: 35px;
            color: $white;
        }

        &-sonido{
            height: 416px;
            background: rgba(0, 0, 0, 0.58);
            margin: 0.2em;
            &-content {
                padding-top: 8em;
            }
            &-title {
                padding-top: 1.4rem;
            }
            &-button-pink{
                padding: 1rem;;
            }
        }
        &-iluminacion{
            height: 416px;
            background: rgba(0, 0, 0, 0.58);
            margin: 0.2em;
            &-content {
                padding-top: 8em;
            }
            &-title {
                padding-top: 1.4rem;
            }
            &-button-pink{
                padding: 1rem;;
            }
        }
        &-fotografia{
            height: 416px;
            background: rgba(0, 0, 0, 0.58);
            margin: 0.2em;
            &-content {
                padding-top: 8em;
            }
            &-title {
                padding-top: 1.4rem;
            }
            &-button-pink{
                padding: 1rem;;
            }
        }
    }
}
/*SLIDER STYLE*/
.slick-arrow {
    width: 74px;
    height: 74px;
    background-color: rgba(0, 0, 0, 0.57);
    z-index: 3;
    background-image: url(/src/img/gallery1.png)
}
.gallery{
    h2 {
        color: $dark-purple;
    }
    &-container{
        padding: 5rem;
    }
}
figure{
    position: relative;
    margin: 0;
}

figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    background: -moz-linear-gradient(45deg, rgba(42,0,65,1) 0%, rgba(122,17,83,0.67) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(42,0,65,1) 0%,rgba(122,17,83,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a0041', endColorstr='#ab7a1153',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: all .3s;
    &:hover {
        opacity: 1;
        .fa-search-plus{
            transform: translateY(0px);
        }
    }
    .fa-search-plus{
        font-size: 2rem;
        color: white;
        transform: translateY(-30px);
        transition: all .3s;
    }
}

.testimonies {
    background: $dark-purple;
    &-img {
        border-radius: 100%;
        width: 400px;
    }
}

.container {
  .card {
    padding: 10px;
    margin: 0 15px;
    position: unset;
  }
  .card_img {
    dsiplay: inline-block;
    width: 200px;
    height: 200px;
      }
}
.slick-active.slick-current {
  .card {
    
  }
  .card_img {
    position: relative
  }
}